<div>
  <div class="wrap">
    <nz-page-header [nzGhost]="false" nzSize="">
      <nz-page-header-title
        ><span style="color: aliceblue"
          ><i nz-icon nzType="schedule" nzTheme="outline"></i> {{ title }}</span
        ></nz-page-header-title
      >
      <nz-page-header-subtitle class="outer">
        <div class="inner">
          <nz-date-picker
            [nzDisabledDate]="disabledStartDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="startValue"
            nzPlaceHolder="Start"
            (ngModelChange)="onStartChange($event)"
            (nzOnOpenChange)="handleStartOpenChange($event)"
          >
          </nz-date-picker>
          <nz-date-picker
            [nzDisabledDate]="disabledEndDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="endValue"
            nzPlaceHolder="End"
            [nzOpen]="endOpen"
            (ngModelChange)="onEndChange($event)"
            (nzOnOpenChange)="handleEndOpenChange($event)"
          >
          </nz-date-picker>
        </div>

        <div class="inner" style="margin-left: 10px; margin-right: 10px;">
          <button
            nz-button
            nzBlock
            nzType="primary"
            class="btn-search"
            type="button"
            (click)="onSearch()"
          >
            <i nz-icon nzType="search" nzTheme="outline" class="icon-btn"></i>
            Tìm Kiếm
          </button>
        </div>

        <div class="inner" style="margin-right: 10px;">
          <button
            nz-button
            nzBlock
            nzType="primary"
            class="btn-refresh"
            type="button"
            (click)="onLamMoi()"
          >
            <i nz-icon nzType="redo" nzTheme="outline" class="icon-btn"></i> Làm
            Mới
          </button>
        </div>

        <div class="inner">
          <button
            nz-button
            nzType="primary"
            nzBlock
            class="btn-add"
            type="button"
            (click)="openModelChiTiet()"
            *ngIf="!isXuatHoaDon"
          >
            <i
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
              class="icon-btn"
            ></i>
            Thêm
          </button>
        </div>
      </nz-page-header-subtitle>
    </nz-page-header>
  </div>
  <nz-table
    #ajaxtable
    nzNoResult="Không tìm thấy dữ liệu"
    nzShowSizeChanger
    nzBordered
    [nzData]="datas"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [(nzPageSize)]="pageSize"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="onPageChange()"
    (nzPageSizeChange)="onPageChange(true)"
  >
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="ngay"><span>Ngày Thuê</span></th>
        <th nzShowSort nzSortKey="ngay"><span>Ngày Trả</span></th>
        <th nzShowSort nzSortKey="ctPhongGiuong"><span>Số phòng</span></th>
        <th nzShowSort nzSortKey="ctPhongGiuong"><span>Số giường</span></th>
        <th><span>Đơn Giá</span></th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxtable.data">
        <td>{{ formatDate(data.ngayThue) }}</td>
        <td>{{ formatDate(data.ngayTra) }}</td>
        <td>{{ data.ctPhongGiuong.phong.soPhong }}</td>
        <td>{{ data.ctPhongGiuong.giuong.soGiuong }}</td>
        <td>{{ formatCurrency(data.donGia) }}</td>
        <td>
          <div class="outer">
            <!-- <div class="inner">
              <button
                nz-button
                nzBlock
                class="btn-edit"
                type="button"
                (click)="openModelChiTiet(data.ctPhongGiuong.id)"
              >
                <i nz-icon nzType="edit" nzTheme="fill" class="icon-btn"></i>
                Chi tiết
              </button>
            </div> -->
            <div class="inner">
              <button
                nzOkType="danger"
                nz-popconfirm
                nzPopconfirmTitle="Chắc chắn xóa ?"
                (nzOnConfirm)="delete(data.ctPhongGiuong.id)"
                nz-button
                nzBlock
                class="btn-delete"
                *ngIf="!isXuatHoaDon"
              >
                <i nz-icon nzType="delete" nzTheme="fill" class="icon-btn"></i>
                Xóa
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [(nzVisible)]="modalThueGiuong"
  nzTitle="Thông tin thuê giường"
  (nzOnCancel)="onCancelModelThueGiuong()"
>
  
  <form
    nzLayout="vertical"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <div>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="idCtPhongGiuong"
          >Chọn Giường
        </nz-form-label>
        <nz-form-control
          [nzSm]="16"
          [nzXs]="24"
          nzErrorTip="Vui lòng chọn giường"
        >
        <span *ngIf="dataGiuongSelected">
          Phòng : {{ dataGiuongSelected.phong.soPhong }}
          Giường : {{ dataGiuongSelected.giuong.soGiuong }}
          Giá : {{ dataGiuongSelected.gia }}
        </span>
          <input
            size="40"
            [value]="dataGiuongSelected?.id || ''"
            nz-input
            formControlName="idCtPhongGiuong"
            disabled
            hidden
          />
          <button
            nz-button
            nzType="primary"
            nzSize="small"
            type="button"
            (click)="showModalPhongGiuong()"
            *ngIf="!isXuatHoaDon"
          >
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            Chọn
          </button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ngayThue"
          >Chọn ngày thuê
        </nz-form-label>
        <nz-form-control
          [nzSm]="16"
          [nzXs]="24"
          nzErrorTip="Vui lòng chọn thời gian"
          >
          <nz-date-picker
            formControlName="ngayThue"
            nzShowTime="true"
            (ngModel)="(data?.ngayThue || null)"
            [nzDisabledDate]="disabledDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ngayTra"
          >Chọn ngày trả
        </nz-form-label>
        <nz-form-control
          [nzSm]="16"
          [nzXs]="24"
          nzErrorTip="Vui lòng chọn thời gian"
        >
          <nz-date-picker
            formControlName="ngayTra"
            nzShowTime="true"
            (ngModel)="(data?.ngayTra || null)"
            [nzDisabledDate]="disabledDateNgayTra"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <div class="outer">
          <div class="inner">
            <button
              nz-button
              type="button"
              (click)="onCancelModelCtDichVu()"
              class="btn-back"
            >
              Thoát
            </button>
          </div>
          <div class="inner">
            <button nz-button class="btn-save" type="submit"  *ngIf="!isXuatHoaDon">Lưu</button>
          </div>
        </div>
      </nz-form-item>
    </div>
  </form>
  <div *nzModalFooter></div>
</nz-modal>
<nz-modal
  [(nzVisible)]="modalCtPhong"
  nzTitle="Chọn giường"
  (nzOnCancel)="onCancelModelPhongGiuong()"
  nzWidth="1000"
>
  <app-phong-giuong
    (eventPhongGiuong)="onGetGiuong($event)"
  ></app-phong-giuong>
  <div *nzModalFooter></div>
</nz-modal>