<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/"> Trang chủ </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="listRoute"> {{ title }} </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item> Tạo Mới </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-page-header>
  <nz-page-header-title>Thêm {{ title }}</nz-page-header-title>
</nz-page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item nz-row>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="soPhong"
          >Số phòng
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập số phòng !"
        >
          <input nz-input formControlName="soPhong" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maKhoa"
          >Khoa
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng chọn khoa!"
        >
          <nz-select
            nzAllowClear
            nzPlaceHolder="Chọn Khoa"
            formControlName="maKhoa"
          >
            <nz-option
              *ngFor="let o of khoas"
              [nzLabel]="o.tenKhoa"
              [nzValue]="o.maKhoa"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="gia"
          >Giá :
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập giá !"
        >
          <input size="40" nz-input formControlName="gia" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ghiChu"
          >Ghi Chú
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea rows="4" nz-input formControlName="ghiChu"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </nz-form-item>

  <nz-form-item nz-nz-row>
    <div class="outer">
      <div class="inner">
        <a [routerLink]="listRoute">
          <button nz-button nzBlock class="btn-back">
            <i
              nz-icon
              nzType="left-circle"
              style="font-size: large"
              nzTheme="fill"
            ></i>
            Quay Lại
          </button>
        </a>
      </div>
      <div class="inner">
        <button nz-button class="btn-save" type="submit">
          <i
            nz-icon
            nzType="save"
            style="font-size: large"
            nzTheme="fill"
            class="icon-btn"
          ></i>
          Lưu
        </button>
      </div>
    </div>
  </nz-form-item>
</form>
