[nz-form] {
  border: 3px solid rgb(235, 237, 240);
  padding: 3px;
}

nz-breadcrumb {
  margin-bottom: 20px;
}

nz-breadcrumb-item {
  font-size: 20px;
  font-weight: bold;
}

.btn-save-area {
  margin-top: 10px;
}
.btn-save {
  width: 150px;
  height: 100%;
  background-color: #00bfff;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
nz-page-header {
  border: 3px solid rgb(235, 237, 240);
  margin-bottom: 20px;
  background: rgb(0, 191, 255);
}

.btn-delete {
  color: white;
  background-color: red;
}


#outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
}
.btn-back {
  width: 150px;
  background-color: #f08080;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-edit {
  color: white;

  background-color: #1e90ff;
}

.btn-add {
  width: 200px;
  background-color: #32cd32;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: justify;
  height: 50px;

}
.flex-box-2 {
  display:flex;
  justify-content: flex-end;
}

.thong-tin-benh-nhan {
  font-weight: bold;
  font-size: 20px;
}

nz-form-label  {
  font-weight: bold;
  font-size: 20px;
}
