<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/"> Trang chủ </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="listRoute"> {{ title }} </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Chi tiết </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header>
    <nz-page-header-title>Thông Tin {{ title }}</nz-page-header-title>
    <nz-page-header-subtitle> </nz-page-header-subtitle>
  </nz-page-header>

  <div nz-row class="group-edit">
    <div nz-col nzSpan="6">
      <nz-card
        nzHoverable
        style="width: 300px; height: 300px; margin-left: 50px; margin-top: 20px"
        [nzCover]="coverTemplate"
      >
        <nz-card-meta></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img
          [alt]="hinhAnh"
          [src]="hinhAnh"
          style="width: 300px; height: 300px"
        />
      </ng-template>
    </div>
    <div nz-col nzSpan="18" class="thong-tin">
      <form
        nzLayout="vertical"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item nz-row>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maNV"
                >Mã Nhân Viên :
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
              >
                <input
                  size="40"
                  [value]="nhanVien.maNV"
                  nz-input
                  formControlName="maNV"
                  disabled
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="hoTen"
                >Họ tên
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                nzErrorTip="Vui lòng nhập họ tên !"
              >
                <input
                  size="40"
                  [value]="nhanVien.hoTen"
                  nz-input
                  formControlName="hoTen"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ngaySinh"
                >Ngày sinh</nz-form-label
              >
              <nz-form-control
                [nzSm]="16"
                [nzXs]="24"
                nzErrorTip="Vui lòng chọn ngày sinh"
              >
                <nz-date-picker
                  nzSize="40px"
                  [ngModel]="nhanVien.ngaySinh"
                  formControlName="ngaySinh"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gioiTinh"
                >Giới Tính</nz-form-label
              >
              <nz-form-control
                [nzSm]="16"
                [nzXs]="24"
                nzErrorTip="Chọn giới tính"
              >
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="Vui lòng chọn giới tính"
                  formControlName="gioiTinh"
                  size="40"
                  [ngModel]="nhanVien.gioiTinh"
                >
                  <nz-option nzValue="NAM" nzLabel="NAM"></nz-option>
                  <nz-option nzValue="NỮ" nzLabel="NỮ"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="diaChi"
                >Địa chỉ</nz-form-label
              >
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                nzErrorTip="Vui lòng nhập địa chỉ !"
              >
                <input
                  size="40"
                  [value]="nhanVien.diaChi"
                  nz-input
                  formControlName="diaChi"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maKhoa"
                >Khoa :
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                nzErrorTip="Vui lòng chọn khoa!"
              >
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="Chọn Khoa"
                  formControlName="maKhoa"
                  (ngModel)="(nhanVien.khoa.maKhoa)"
                >
                  <nz-option
                    *ngFor="let o of khoas"
                    [nzLabel]="o.tenKhoa"
                    [nzValue]="o.maKhoa"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <div class="outer">
                <div class="inner">
                  <a [routerLink]="listRoute">
                    <button nz-button nzBlock class="btn-back">
                      <i
                        nz-icon
                        nzType="left-circle"
                        style="font-size: large"
                        nzTheme="fill"
                      ></i>
                      Quay Lại
                    </button>
                  </a>
                </div>
                <div class="inner">
                  <button nz-button class="btn-save" type="submit">
                    <i
                      nz-icon
                      nzType="save"
                      style="font-size: large"
                      nzTheme="fill"
                      class="icon-btn"
                    ></i>
                    Lưu
                  </button>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="soDienThoai"
                >Số điện thoại
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                nzErrorTip="Vui lòng nhập đúng số điện thoại !"
              >
                <input
                  size="40"
                  [value]="nhanVien.soDienThoai"
                  nz-input
                  formControlName="soDienThoai"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired
                >Email
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                nzErrorTip="Vui lòng nhập đúng địa chỉ email ! "
              >
                <input
                  size="40"
                  [value]="nhanVien.email"
                  nz-input
                  formControlName="email"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="chucVu"
                >Chức Vụ:
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  size="40"
                  [value]="nhanVien.chucVu"
                  nz-input
                  formControlName="chucVu"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maLoaiNV"
                >Loại nhân viên :
              </nz-form-label>
              <nz-select
                nzAllowClear
                nzPlaceHolder="Chọn loại nhân viên"
                formControlName="maLoaiNV"
                (ngModel)="(nhanVien.loaiNV.maLoaiNV)"
              >
                <nz-option
                  *ngFor="let o of loaiNvs"
                  [nzLabel]="o.tenLoai"
                  [nzValue]="o.maLoaiNV"
                >
                </nz-option>
              </nz-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="hinhAnh">
                Hình ảnh:
              </nz-form-label>
              <nz-form-control>
                <nz-upload
                  [nzAction]="apiUpload"
                  nzListType="picture-card"
                  [(nzFileList)]="files"
                  [nzShowButton]="!files.length"
                  [nzCustomRequest]="customReq"
                >
                  <i nz-icon nzType="plus" class="upload-icon"></i>
                  <div class="ant-upload-text">Upload</div>
                </nz-upload>
              </nz-form-control>
            </nz-form-item>
          </div>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
