.thong-tin {
  padding-left: 70px;
}
#outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
}
.btn-save {
  width: 150px;
  background-color: #00bfff;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}
.btn-back {
  width: 150px;
  background-color: #f08080;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.group-edit {
  border: 3px solid rgb(235, 237, 240);
  padding: 5px;
}

nz-page-header {
  border: 3px solid rgb(235, 237, 240);
  background-color: rgb(0, 191, 255);
}

nz-breadcrumb {
  margin-bottom: 10px;
}

nz-breadcrumb-item {
  font-size: 20px;
  font-weight: bold;
}

nz-form-label {
  font-size: 25px;
  font-weight: bold;
}

.group-kham {
  border: 3px solid rgb(235, 237, 240);
}
.tab {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-phieu-xuat-vien {
  background: rgb(0, 172, 230);
  color: ivory;
  font-weight: bold;
  height: 50px;
}

.btn-hoa-don {
  background: rgb(0, 172, 230);
  color: ivory;
  font-weight: bold;
  height: 50px;
}

.btn-tam-ung {
  background: rgb(0, 172, 230);
  color: ivory;
  font-weight: bold;
  height: 50px;
}

.thong-tin-benh-nhan {
  font-weight: bold;
  font-size: 20px;
}

.img-info {
  text-align: center;
  font-size: 18px; 
  font-weight: bold;
}
