<div class="wrap">
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title
      ><span style="font-size: 13px; color: aliceblue">
        {{ title }}
      </span></nz-page-header-title
    >
    <nz-page-header-subtitle class="outer">
      <div class="inner">
        <ng-template #searchSuffit
          ><i nz-icon nz nzType="search"></i
        ></ng-template>
        <nz-select
          class="search"
          nzShowSearch
          nzServerSearch
          nzNotFoundContent="Không tìm thấy dữ liệu"
          nzPlaceHolder="Tìm kiếm theo tên"
          [(ngModel)]="selectedUser"
          [nzFilterOption]="true"
          (nzOnSearch)="onSearch($event)"
          (ngModelChange)="onSelectSearchChange($event)"
          [nzSuffixIcon]="searchSuffit"
        >
          <nz-option
            *ngFor="let o of searchResult"
            [nzLabel]="o.tenThuoc"
            [nzValue]="o.tenThuoc"
          >
          </nz-option>
        </nz-select>
      </div>
      <div class="inner">
        <button nz-button nzBlock class="btn-refresh" (click)="onLamMoi()">
          <i nz-icon nzType="redo" nzTheme="outline" class="icon-btn"></i> Làm
          Mới
        </button>
      </div>
    </nz-page-header-subtitle>
  </nz-page-header>
</div>
<nz-table
  #ajaxtable
  nzNoResult="Không tìm thấy dữ liệu"
  nzBordered
  [nzData]="datas"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [(nzPageSize)]="pageSize"
  [(nzPageIndex)]="pageIndex"
  (nzPageIndexChange)="onPageChange()"
  (nzPageSizeChange)="onPageChange(true)"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzWidth="200px"></th>
      <th nzShowSort nzSortKey="tenThuoc"><span>Tên thuốc</span></th>
      <th><span>Giá</span></th>
      <th>Công dụng</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxtable.data">
      <td>
          <img
            [alt]="data.hinhAnh"
            [src]="data.hinhAnh"
            style="width: 100px; height: 70px"
          />
      </td>
      <td>{{ data.tenThuoc }}</td>
      <td>{{ formatCurrency(data.gia) }}</td>
      <td>{{data.congDung}}</td>
      <td>
        <div class="outer">
          <div class="inner">
            <button
              nz-button
              nzBlock
              class="btn-edit"
              (click)="getThuoc(data.maThuoc)"
            >
              <i nz-icon nzType="edit" nzTheme="fill" class="icon-btn"></i>
              Chọn
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
