<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/"> Trang chủ </a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header>
    <nz-page-header-title
      ><span style="color: aliceblue"
        >Trang chủ</span
      ></nz-page-header-title
    >
  </nz-page-header>
  <div class="gutter-example">
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
    </div>
  </div>
</div>
