[nz-form] {
  border: 3px solid rgb(235, 237, 240);
  padding: 5px;
}

nz-breadcrumb {
  margin-bottom: 20px;
}

nz-breadcrumb-item {
  font-size: 20px;
  font-weight: bold;
}

.btn-save-area {
  margin-top: 10px;
}
.btn-save {
  width: 150px;
  height: 100%;
  background-color: #00bfff;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
nz-page-header {
  border: 3px solid rgb(235, 237, 240);
  margin-bottom: 20px;
  background:rgb(0, 191, 255);
}

#outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
}
.btn-back {
  width: 150px;
  background-color: #f08080;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.center {
  margin: auto;
  width: 35%;
  padding: 10px;
}

nz-card {
  width: 350px;
}

.thong-tin-hoa-don {
  font-size: 16px;
  text-align: justify;
  font-weight: bold;
  color: #6495ed;
}

.tieu-de-hoa-don {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #00bfff;
}

.thanh-toan {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: red;
}
.chi-tiet-hoa-don {
  display: inline-block;
}

nz-form-label {
  font-size: 25px;
  font-weight: bold;
}